VOTE_IMAGE=ghcr.io/patchyvideo/thvote-vote:prod
NAVIGATOR_IMAGE=ghcr.io/patchyvideo/thvote-navigator:prod
RESULT_IMAGE=ghcr.io/patchyvideo/thvote-result:prod

VOTE_PORT=8082
NAVIGATOR_PORT=8083
RESULT_PORT=8084
