# Frontend deployment example environment file.
# Copy to .env in the frontend deployment directory and adjust as needed.

VOTE_IMAGE=ghcr.io/patchyvideo/thvote-vote:test
NAVIGATOR_IMAGE=ghcr.io/patchyvideo/thvote-navigator:test
RESULT_IMAGE=ghcr.io/patchyvideo/thvote-result:test

VOTE_PORT=8082
NAVIGATOR_PORT=8083
RESULT_PORT=8084
