@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  min-width: 320px;
  @apply text-light-black;
}

a {
  transition: ease-in-out 0.2s;
  @apply cursor-pointer;
  @apply text-base-green;
}
a:hover {
  @apply text-dark-green;
}
